# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Backend / Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
backend/eventsphere.db
backend/.env

# OS/Editors
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# General logs
*.log
logs/
